<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reports</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<body>

<div class="dashboard">

    <div class="sidebar">
        <h2>IMS</h2>

        <ul>
            <li><a href="/dashboard"><i class="fa-solid fa-house"></i> Dashboard</a></li>
            <li><a href="/products"><i class="fa-solid fa-box"></i> Products</a></li>
            <li><a href="/reports"><i class="fa-solid fa-chart-line"></i> Reports</a></li>
        </ul>
    </div>

    <div class="main">

        <div class="topbar">
            <h1>Reports</h1>
        </div>

        <div class="cards">

            <div class="card">
                <i class="fa-solid fa-box"></i>
                <h3>Total Products</h3>
                <h2>{{ total }}</h2>
            </div>

            <div class="card">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <h3>Low Stock</h3>
                <h2>{{ low }}</h2>
            </div>

            <div class="card">
                <i class="fa-solid fa-ban"></i>
                <h3>Out Of Stock</h3>
                <h2>{{ outstock }}</h2>
            </div>

        </div>

    </div>

</div>

</body>
</html>